
.icon-down-1:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e802'; } /* '' */
.icon-forward-outline:before { content: '\e803'; } /* '' */
.icon-heart-1:before { content: '\e805'; } /* '' */
.icon-forward-1:before { content: '\e806'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
