:root {
    --mainBrown: #a0561a;
    --mainWhite: #fff;
    --mainBeige: #fffff0;
    --mainBlack: #000;
    --mainRed: #fc0303;
    --mainGray: #333;
    --mainBoxShadow: 0px 0px 10px -2px var(--mainBlack);
    --BoxShadow: 0px 0px 25px -20px var(--mainBlack);
}

